header {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Add your desired background color */
  z-index: 10;
}

.basic-button {
  @apply bg-primary text-white p-2  px-8 rounded-3xl text-center  hover:bg-placeholder transition delay-150 hover:text-white;
}

.navbar ul a.active {
  color: rgb(34 197 94);
}

input {
  --tw-ring-shadow: 0 0 #000 !important;
}

input:disabled {
  @apply bg-gray1 cursor-not-allowed;
}

.input-field {
  @apply appearance-none block w-full text-pretty border border-placeholder rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white;
}

button:disabled {
  @apply bg-gray1 cursor-not-allowed;
}
